%p
  = "Hola #{@user}!"
%p
  = "Mira aqui donde recibiste el regalo #{link_to @gift, gift_url(@gift, locale: @user.language)}".html_safe
%p
  = "Por favor agradecer #{link_to 'aqui', gift_url(@gift, anchor: 'thanks', locale: @user.language)}".html_safe
%p
  Chao!
%p
  Be More With Less 
