$("##{dom_id(@comment)}").replaceWith("#{escape_javascript("<div class='alert alert-success'>#{t(:comment_deleted)}</div>".html_safe)}");
$('.comments-count').html("#{@comment.gift.gift_comments.count} #{t(:comments)}");
